<button class="btn btn-default margin-bottom-small disabled js-create-recipe" type="button" disabled>
	<span class="glyphicon glyphicon-plus"></span> Rezept hinzufügen
</button>

<div class="js-recipe-list-container">
	<div class="js-loading-box">
		<p><strong>Rezepte werden geladen, bitte einen Augenblick warten</strong></p>
		<span class="ajax-loader js-ajax-loader active"></span>
	</div>
</div>

<div class="modal fade js-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" data-name="delete">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="deleteModalLabel">Löschen bestätigen</h4>
			</div>
			<div class="modal-body">
				<p>Möchten Sie das Rezept für <b><span class="js-replace-recipe">recipe</span></b> wirklich löschen?</p>
				<p>Das Rezept wird unwiderruflich aus der Datenbank gelöscht.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
				<button type="button" class="btn btn-danger js-delete-it">Bestätigen</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade js-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" data-name="edit">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="editModalLabel">
					Rezept bearbeiten:
					<small><span class="js-replace-recipe"></span></small>
				</h4>
			</div>
			<div class="modal-body row">
				<div class="col-sm-6">
					<div class="list-group js-sortable js-connected js-all-ingredients-list-container" data-sortable-group="editRecipe">
						<?php /* all ingredients list */ ?>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="list-group js-sortable js-connected js-selected-ingredients-list-container" data-sortable-group="editRecipe">
						<?php /* current ingredients list */ ?>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
				<button type="button" class="btn btn-primary js-edit-it">Bestätigen</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade js-modal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" data-name="new">
	<div class="modal-dialog" role="document">
		<form action="/project/ajax.php?api=createRecipe" class="modal-content js-form" method="POST">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="newModalLabel">Neues Rezept hinzufügen</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-xs-12">
						<label for="name">Name</label>
						<input class="form-control" type="text" name="name" required />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="list-group js-sortable js-connected js-all-ingredients-list-container" data-sortable-group="newRecipe">
							<?php /* all ingredients list */ ?>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="list-group js-sortable js-connected js-selected-ingredients-list-container" data-sortable-group="newRecipe">
							<?php /* create empty list on showing modal */ ?>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
				<button type="submit" class="btn btn-success">Anlegen</button>
			</div>
		</form>
	</div>
</div>

<script type="text/template" id="recipe-list-template">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		{{ for(var i=0,recipe;i<recipes.length;i++) { }}
			{{ recipe = recipes[i]; }}
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading{{= recipe.id }}">
					<h4 class="panel-title">
						<span class="action glyphicon glyphicon-trash pull-right js-delete-recipe" aria-hidden="true" data-recipe-name="{{= recipe.name }}" data-recipe-id="{{= recipe.id }}"></span>
						<span class="action glyphicon glyphicon-pencil pull-right js-edit-recipe" aria-hidden="true" data-recipe-name="{{= recipe.name }}" data-recipe-id="{{= recipe.id }}"></span>
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{= recipe.id }}" aria-expanded="true" aria-controls="collapse{{= recipe.id }}">
						{{= recipe.name }}
						</a>
					</h4>
				</div>
				<div id="collapse{{= recipe.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{= recipe.id }}">
					<div class="panel-body">
						<ul>
							{{ for(var n=0,ingredient;n<recipe.ingredients.length;n++) { }}
								{{ ingredient = recipe.ingredients[n]; }}
								<li>{{= ingredient }}</li>
							{{ } }}
						</ul>
					</div>
				</div>
			</div>
		{{ } }}
	</div>
</script>

<script type="text/template" id="ingredients-list-template">
	<button type="button" class="list-group-item disabled" disabled>
		<b>{{= type }}</b>
	</button>
	{{ for(var i=0,ingredient;i<ingredients.length;i++) { }}
		{{ ingredient = ingredients[i]; }}
		{{ if(typeof ingredient === "string") { }}
			<button type="button" class="list-group-item">{{= ingredient }}</button>
		{{ }else{ }}
			<button type="button" class="list-group-item">{{= ingredient.name }}</button>
		{{ } }}
	{{ } }}
</script>
