.mod-example {
	background: darken(@color-gray, 15%);
	padding: 1em 2em;
	a {
		color: white;
	}
	&-headline {
		font-size: 1.6em;
		color: white;
	}
	@media @tablet-and-down {
		background: lighten(@color-gray, 25%);
	}
}

