<div class="margin-bottom-large">
	<h2>Passwort vergessen</h2>
	<p>Sie haben Ihr Passwort vergessen? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab sed repellat atque beatae, suscipit fugit maxime ipsam reprehenderit temporibus vero maiores, dicta, deserunt eos inventore. Vitae ipsa quisquam ut ab!</p>
</div>
<form action="/project/ajax.php?api=registration" class="js-registration-form" method="POST">
	<div class="row">
		<div class="col-xs-12 col-md-6 form-group">
			<label for="email">E-Mail</label>
			<input class="form-control" type="email" name="email" required />
		</div>
	</div>
</form>

<script type="text/template" id="registration-success-template">
	<a class="pull-right" href="/" target="_self">Zum Login</a>
	<p>
		<span class="glyphicon glyphicon-ok success-icon pull-left" aria-hidden="true"></span>
		Herzlichen Glückwunsch, Sie wurden erfolgreich registriert, blabla
	</p>
</script>

<script type="text/template" id="registration-error-template">
	<p class="margin-bottom-large">
		<span class="glyphicon glyphicon-remove error-icon pull-left" aria-hidden="true"></span>
		Etwas ist schief gelaufen, bitte versuchen Sie es noch einmal, blabla
	</p>
</script>
