<div class="margin-bottom-large">
	<h2>Passwort vergessen</h2>
	<p>Sie haben Ihr Passwort vergessen? <br>
	Geben Sie bitte zur Verifizierung Ihres Benutzer Accounts Ihre E-Mail Adresse an.</p>
</div>
<form action="/project/ajax.php?api=forgot-password" class="js-form" method="POST">
	<div class="row">
		<div class="col-xs-12 form-group">
			<label for="email">E-Mail</label>
			<input class="form-control" type="email" name="email" required />
		</div>
	</div>
	<div class="js-error-container"></div>
	<span class="ajax-loader js-ajax-loader margin-bottom-large"></span>
	<div class="row">
		<div class="col-xs-6 form-group col-xs-offset-6">
			<button type="submit" class="btn btn-primary btn-block">Absenden</button>
		</div>
	</div>
</form>

<?php partial('forms/success-template'); ?>
<?php partial('forms/error-template'); ?>
