<h2>Login</h2>
<p>Ich bin ein Begrüßungstext. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique laudantium, laborum officiis repellat non delectus error animi quia magni corporis, ipsam architecto fuga repudiandae quo doloribus dolorum cum, ea quam.</p>
<form action="" class="js-login-form clearfix" method="post">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Benutzername">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" placeholder="Passwort">
	</div>
	<div class="pull-right">
		<a href="#"><small>>Noch kein Account? Zur Registrierung.</small></a>
		<button type="submit" class="btn btn-default">Login</button>
	</div>
</form>
