<?php session_start(); ?>
<div class="margin-bottom-large">
	<h2>MixUp! Schulungsanwendung</h2>
	<h3>Login</h3>
	<p>Bitte geben Sie Ihren Benutzernamen und Ihr Passwort an.</p>
</div>
<form action="/project/services/login.php" class="js-login-form clearfix" method="post">
	<div class="js-form-group form-group">
		<input type="text" class="form-control js-input" name="user" placeholder="Benutzername" required>
	</div>
	<div class="js-form-group form-group">
		<input type="password" class="form-control js-input" name="password" placeholder="Passwort" required>
	</div>
	<p class="js-error-text text-danger hidden">Benutzername oder Passwort nicht korrekt. Bitte überprüfen Sie Ihre eingaben und versuchen es noch einmal</p>
	<div class="clearfix margin-bottom-small">
		<button type="submit" class="btn btn-primary btn-block pull-right">Login</button>
	</div>
	<div class="row">
		<a class="col-xs-12 col-sm-6" href="/forgot-password"><small>> Ich habe meine Passwort vergessen</small></a>
		<a class="col-xs-12 col-sm-6 registration-link" href="/registration"><small>> Noch kein Account? Zur Registrierung</small></a>
	</div>
</form>
