<form action="/project/ajax.php?api=sendingredients" class="js-form" method="POST">
	<table class="table table-responsive margin-bottom-large">
		<thead>
			<tr>
				<th class="col-xs-2">ID</th>
				<th class="col-xs-4">Name</th>
				<th class="col-xs-2">X-Position</th>
				<th class="col-xs-2">y-Position</th>
				<th class="col-xs-2"><?php /* do not remove, required for edit icon */ ?></th>
			</tr>
		</thead>
		<tbody class="js-ingredients-table">
			<tr>
				<td class="text-center" colspan="5">
					<p><strong>Zutanteliste wird geladen, bitte einen Augenblick warten</strong></p>
					<span class="ajax-loader active"></span>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="form-group text-right">
		<button class="btn btn-primary disabled js-submit" type="submit" disabled>
			Abschicken
		</button>
	</div>
</form>

<script type="text/template" id="ingredients-table-template">
	{{ for(var i=0,ingredient;i<ingredients.length;i++) { }}
		{{ ingredient = ingredients[i]; }}
		<tr>
			<td>{{= ingredient.id }}</td>

			<td>
				<span class="ingredient-info">{{= ingredient.name }}</span>
				<input class="form-control ingredient-input js-input" type="text" name="{{= ingredient.id }}_name" placeholder="{{= ingredient.name }}" value="{{= ingredient.name }}" data-origin-value="{{= ingredient.name }}" />
			</td>

			<td>
				<span class="ingredient-info">{{= ingredient.xPos }}</span>
				<input class="form-control ingredient-input js-input" type="number" name="{{= ingredient.id }}_xPos" placeholder="{{= ingredient.xPos }}" value="{{= ingredient.xPos }}" data-origin-value="{{= ingredient.xPos }}" />
			</td>

			<td>
				<span class="ingredient-info">{{= ingredient.yPos }}</span>
				<input class="form-control ingredient-input js-input" type="number" name="{{= ingredient.id }}_yPos" placeholder="{{= ingredient.yPos }}" value="{{= ingredient.yPos }}" data-origin-value="{{= ingredient.yPos }}" />
			</td>

			<td class="text-center v-align-middle">
				<span class="edit-icon glyphicon glyphicon-cog js-toggle-editing" aria-hidden="true"></span>
				<span class="remove-icon glyphicon glyphicon-remove js-toggle-editing" aria-hidden="true"></span>
			</td>
		</tr>
	{{ } }}
</script>
