<form action="/project/ajax.php?api=submit-practice" class="js-practice-form" method="POST">

	<section class="ingredients text-center js-ingredients-container">
	</section>

	<section class="pad">
		<h3>Zutaten für: <span class="js-insert-recipe"></span></h3>
		<ul class="js-ingredient-list-container"></ul>
	</section>

	<a href="/mainmenu" class="btn btn-warning">
		Abbrechen
	</a>

	<button class="btn btn-primary" type="submit">
		Mischen!
	</button>

</form>

<script type="text/template" id="ingredients-template">
	<ul>
	{{
		for(var i=0, item; i<group.length; i++){
		item = group[i];
	}}
		<li class="js-add-ingredient">
			{{= item.name }}
			<input type="hidden" name="tbd" value="{{= item.id }}" />
		</li>
	{{ } }}
	</ul>
</script>

<script type="text/template" id="ingredient-list-template">
	{{ for(var i=0; i<ingredients.length; i++){ }}
		<li class="js-remove-ingredient">{{= ingredients[i] }}</li>
	{{ } }}
</script>
