<form action="/project/ajax.php?api=submit-practice" class="js-practice-form" method="POST">

	<section class="ingredients">
		<ul class="js-ingredients-container"></ul>
	</section>

	<section class="pad">
		<h3>Zutanten für: <span class="js-insert-recipe"></span></h3>
		<ul class="js-ingredient-list-container"></ul>
	</section>

	<a href="/mainmenu" class="btn btn-warning">
		Abbrechen
	</a>

	<button class="btn btn-primary" type="submit">
		Mischen!
	</button>

</form>

<script type="text/template" id="ingredients-template">
	{{ for(var i=0, ingredient; i<ingredients.length; i++){
		ingredient = ingredients[i];
	}}
		<li class="js-add-ingredient">
			{{= ingredient.name }}
			<input type="hidden" name="tbd" value="{{= ingredient.id}}" />
		</li>
	{{ } }}
</script>

<script type="text/template" id="ingredient-list-template">
	{{ for(var i=0; i<ingredients.length; i++){ }}
		<li class="js-remove-ingredient">{{= ingredients[i] }}</li>
	{{ } }}
</script>
