<form action="/project/services/sendCocktail.php" class="js-practice-form" method="POST">

	<input type="hidden" name="user" value="<?= $_SESSION['U_ID']; ?>">
	<input class="js-recipe-input" type="hidden" name="recipe" value="" />

	<section class="ingredients text-center js-ingredients-container">
	</section>

	<section class="pad">
		<h3>Zutaten für: <span class="js-insert-recipe"></span></h3>
		<ul class="js-ingredient-list-container">
			<li>Noch keine Zutaten ausgewählt</li>
		</ul>
	</section>

	<div class="row">
		<div class="col-sm-6">
			<a href="#" class="btn btn-warning btn-block js-cancel">
				Beenden
			</a>
		</div>
		<div class="col-sm-6">
			<button class="btn btn-primary btn-block disabled js-submit" type="submit" disabled>
				Mischen!
			</button>
		</div>
	</div>


</form>

<script type="text/template" id="ingredients-template">
	<ul class="margin-bottom">
	{{
		for(var i=0, item; i<group.length; i++){
		item = group[i];
	}}
		<li class="js-pick-ingredient" data-id="{{= item.id }}" data-name="{{= item.name }}">
			{{= item.name }}
		</li>
	{{ } }}
	</ul>
</script>

<script type="text/template" id="ingredient-list-template">
	{{ for(var i=0, item; i<ingredients.length; i++){ }}
		{{ item = ingredients[i]; }}
		<li>
			{{= item.name }}
			<input type="hidden" name="ingredient[]" value="{{= item.id }}" />
		</li>
	{{ } }}
</script>
