<?php partial('session'); ?>
<?php partial('head', array('title' => 'Zutaten verwalten')); ?>
<main class="container">
	<?php partial('logout', array('headline' => 'Zutaten verwalten')); ?>
	<p class="margin-bottom-large">Hier können alle Zutaten eingesehen und bearbeitet werden.
	Diese Zutaten können in den Rezepten verwendet werden. <br>
	Die Position der Zutaten wird in der Übungsanwendung abgefragt. <br><br>
	Zum Bearbeiten einer bestimmten Zutat, einfach auf das Zahnrad klicken, Änderungen vornehmen, bestätigen und die Anpassungen durch den Klick auf den Butten "Abschicken" bestätigen.</p>
	<?php component('ingredients', true, true, array('data-url'=>'/project/services/getIngredients.php')); ?>
</main>
<?php partial('foot'); ?>
