<?php partial('session'); ?>
<?php partial('head', array('title' => 'Zutaten verwalten')); ?>
<main class="container">
	<?php partial('logout', array('headline' => 'Zutaten verwalten')); ?>
	<p class="margin-bottom-large">Hier können alle Zutaten eingesehen und bearbeitet werden. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt deserunt, et atque. Dolore voluptatum quos molestiae ut perferendis est, nesciunt quis aperiam obcaecati. Tenetur accusantium consectetur, quod libero velit dicta.</p>
	<?php component('ingredients', true, true, array(
		'data-url'=>'/project/ajax.php?api=ingredients',
	)); ?>
</main>
<?php partial('foot'); ?>
