<?php partial('session'); ?>
<?php partial('head', array('title' => 'Cocktails mixen')); ?>
<main class="container">
	<h2>Cocktails mixen</h2>
	<p>Hier kannst du Cocktails mixen. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt deserunt, et atque. Dolore voluptatum quos molestiae ut perferendis est, nesciunt quis aperiam obcaecati. Tenetur accusantium consectetur, quod libero velit dicta.</p>
	<?php component('Practice', true, true, array(
		'data-service-new-recipe'=>'/project/ajax.php?api=practice-new-recipe',
		'data-service-ingredients'=>'/project/ajax.php?api=ingredients'
	)); ?>
</main>
<?php partial('foot'); ?>
