<?php partial('session'); ?>
<?php partial('head', array('title' => 'Benutzer verwalten')); ?>
<main class="container">
	<?php partial('logout', array('headline' => 'Benutzer verwalten')); ?>
	<p class="margin-bottom-large">Hier können die Benutzerdaten eingesehen und verwaltet werden.<br>
	Zum Bearbeiten und Löschen auf die entsprechenden Symbole am Ende der Zeile klicken.<br><br>
	Administrator Rechte können durch die Auswahl der Checkbox in der Zeile eines jeden Benutzers vergeben werden.
	</p>
	<?php component('ingredients', 'user', ['user'], array('data-url'=>'/project/services/getUser.php',)); ?>
</main>
<?php partial('foot'); ?>
