<div class="js-no-results hidden">
	<p>
		<span class="glyphicon glyphicon-tag"></span>
		Es wurden keine Cocktails gemixt, bitte starten Sie die Übung noch einmal von vorne. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro possimus nobis quasi, obcaecati distinctio esse debitis voluptates at adipisci cumque consequuntur labore libero non. Dignissimos fuga atque sit perspiciatis iste.
	</p>
	<p>
		<a href="/practice?mode=learn">> Von vorne starten</a>
	</p>
</div>

<div class="ct-chart ct-golden-section hidden js-pie-chart">
