

<div class="row">
	<div class="col-sm-10">
		 <!--Alter Tabellenkopf mit statischen Daten <form action="/project/ajax.php?api=getStats" class="form-horizontal js-form" method="GET">-->
		<form action="/project/services/getStats.php" class="margin-bottom-large js-form" method="GET">
			<div class="form-group">
				<label for="user" class="col-sm-2 control-label">Benutzer auswählen:</label>
				<div class="col-sm-10">
					<?php if(!$_SESSION['ADMIN']) { ?>

						<select class="form-control" name="user" readonly>
							<option value="<?= $_SESSION['U_ID']; ?>" selected><?= $_SESSION['U_ID']; ?></option>
						</select>

					<?php } else { ?>

						<select class="form-control" name="user">
							<?php while($row = mysqli_fetch_object($GLOBALS['ALLUSER'])) { ?>
								<option value="<?= $row->U_ID; ?>" selected><?= $row->U_ID; ?></option>
							<?php } ?>
						</select>

					<?php } ?>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<button class="btn btn-default" type="submit">Anfordern</button>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2">
				<div class="js-ajax-loader hidden">
					<p><strong>Statistiken werden geladen, bitte einen Augenblick warten</strong></p>
					<span class="ajax-loader active"></span>
				</div>
				<div class="js-no-results hidden">
					<p>
						<span class="glyphicon glyphicon-tag"></span>
						Für diesen Benutzer liegen noch keine Statistiken vor. Schließen Sie eine Übung ab und versuchen es zu einem späteren Zeitpunkt noch mal.
					</p>
				</div>
				<div class="ct-chart ct-golden-section hidden js-pie-chart">
				</div>
			</div>
		</div>
	</div>
</div>
