<?php 
$user = $_SESSION['U_ID'];

$isAdmin = $_SESSION['ADMIN'];
print "Hallo $user!";
if ($isAdmin==1){
print " Sie sind als Administrator angemeldet!";
}
?>
<div class="row margin-bottom">
	<div class="col-sm-6 col-md-4">
		<?php partial('teaser', array(
			'heading'	=> 'Cocktails mixen',
			'content'	=> 'Lorem ipsum dolor',
			'linkurl'	=> '/practice',
			'linktext'	=> 'Zur Übung'
		)); ?>
	</div>
	<div class="col-sm-6 col-md-4">
		<?php partial('teaser', array(
			'heading'	=> 'Rezepte anzeigen',
			'content'	=> 'Lorem ipsum dolor',
			'linkurl'	=> '/recipes',
			'linktext'	=> 'Zu den Rezepten'
		)); ?>
	</div>
	<div class="col-sm-6 col-md-4">
		<?php partial('teaser', array(
			'heading'	=> 'Statistiken',
			'content'	=> 'Lorem ipsum dolor',
			'linkurl'	=> '#',
			'linktext'	=> 'Linktext 1'
		)); ?>
	</div>
</div>

<div class="row js-admin-menu-container">
	<span class="ajax-loader js-ajax-loader"></span>
</div>
<?php if ($isAdmin == 0)
{exit;
} ?>
<script type="text/template" id="admin-menu-template">
	<div class="col-sm-6 col-md-4">
		<?php partial('teaser', array(
			'heading'	=> 'Benutzerverwaltung',
			'content'	=> 'Lorem ipsum dolor',
			'linkurl'	=> '#',
			'linktext'	=> 'Linktext 1'
		)); ?>
	</div>
	<div class="col-sm-6 col-md-4">
		<?php partial('teaser', array(
			'heading'	=> 'Treppenverwaltung',
			'content'	=> 'Lorem ipsum dolor',
			'linkurl'	=> '#',
			'linktext'	=> 'Linktext 1'
		)); ?>
	</div>
	<div class="col-sm-6 col-md-4">
		<?php partial('teaser', array(
			'heading'	=> 'Rezeptverwaltung',
			'content'	=> 'Lorem ipsum dolor',
			'linkurl'	=> '#',
			'linktext'	=> 'Linktext 1'
		)); ?>
	</div>
</script>
