<div class="row margin-bottom">
	<div class="col-sm-6 col-md-4 js-practice-col">
		<?php partial('teaser', array(
			'heading'	=> 'Cocktails mixen',
			'linkurl'	=> '/practice',
			'linktext'	=> 'Zur Übung',
			'img'		=> '/assets/img/dummy.jpg',
			'class'		=> 'js-start-practice'
		)); ?>
		<article class="teaser hidden">
			<a href="/practice?mode=learn" class="btn btn-primary btn-block margin-bottom">Lernmodus</a>
			<a href="/practice?mode=exercise" class="btn btn-primary btn-block">Übungsmodus</a>
		</article>
	</div>
	<div class="col-sm-6 col-md-4">
		<?php partial('teaser', array(
			'heading'	=> 'Rezepte anzeigen',
			'linkurl'	=> '/recipes',
			'linktext'	=> 'Zu den Rezepten',
			'img'		=> '/assets/img/dummy.jpg'
		)); ?>
	</div>
	<div class="col-sm-6 col-md-4">
		<?php partial('teaser', array(
			'heading'	=> 'Statistiken',
			'linkurl'	=> '/stats',
			'linktext'	=> 'Zu meinen Statistiken',
			'img'		=> '/assets/img/dummy.jpg'
		)); ?>
	</div>
</div>

<div class="row js-admin-menu-container">
	<span class="ajax-loader js-ajax-loader"></span>
</div>

<script type="text/template" id="admin-menu-template">
	<div class="col-sm-6 col-md-4">
		<?php partial('teaser', array(
			'heading'	=> 'Benutzerverwaltung',
			'linkurl'	=> '/user-admin',
			'linktext'	=> 'Zur Benutzerverwaltung',
			'img'		=> '/assets/img/dummy.jpg'
		)); ?>
	</div>
	<div class="col-sm-6 col-md-4">
		<?php partial('teaser', array(
			'heading'	=> 'Treppenverwaltung',
			'linkurl'	=> '/ingredients-admin',
			'linktext'	=> 'Zur Treppenverwaltung',
			'img'		=> '/assets/img/dummy.jpg'
		)); ?>
	</div>
	<div class="col-sm-6 col-md-4">
		<?php partial('teaser', array(
			'heading'	=> 'Rezeptverwaltung',
			'linkurl'	=> '/recipes-admin',
			'linktext'	=> 'Zur Rezeptverwaltung',
			'img'		=> '/assets/img/dummy.jpg'
		)); ?>
	</div>
</script>
